<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <p data-woolf-resource="wrong">Wrong

      </p>
      <p class="text-center" data-woolf-resource="lorem">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
      <p><a data-woolf-resource="pdf_2" href="https://unec.edu.az/application/uploads/2014/12/pdf-sample.pdf" class="link-dark">PDF Publication</a></p>
      <p><a data-woolf-resource="pdf_2" href="https://www.adobe.com/support/products/enterprise/knowledgecenter/media/c4611_sample_explain.pdf?woolf-resource=pr_1" class="link-dark">PR 1</a></p>
      <p><a data-woolf-resource="pdf_2" href="https://www.adobe.com/support/products/enterprise/knowledgecenter/media/c4611_sample_explain.pdf?woolf-resource=pr_2" class="link-dark">PR 2</a></p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Wrong
        </label>
      </div>
      <p class="text-start">Quiz</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Right
        </label>
      </div>
      <button id="button" type="button" class="btn btn-primary">Submit</button>
      <button id="meeting" type="button" class="btn btn-secondary">Discuss test.py</button>
    </div>
    <% if (token) { %>
      <script>
        window.woolfOptions = { widget: { renderOnInit: false } }

        document.addEventListener('woolf:created', ({ woolf }) => {
          const [{ degreeId, status }] = woolf.user.degreeStudents
          const [{ rejection }] = woolf.user.educations

          if (['INVITED', 'ONBOARDING'].includes(status)) {
            woolf.widget.openApplication(degreeId)

            document.addEventListener('woolf:degreeApplicationSubmitted', () => {
              woolf.widget.closeApplication()
              woolf.widget.show()
            })
          } else {
            if ((rejection && rejection.descr) || status === 'REJECTED') {
              woolf.widget.openDashboard()
            }

            woolf.widget.show()
          }

          document.getElementById('button').onclick = function() {
            woolf.trackSubmission('quiz_1').then((id) => {
              console.log(id)
            })
          }

          document.getElementById('meeting').onclick = function() {
            woolf.trackAttendance('discuss_test_py')

            window.open('https://meet.google.com/hqb-uujg-wxd', '_blank').focus()
          }
        })
      </script>
      <script src="https://unpkg.com/@woolfuniversity/sdk@latest/build/vanilla.js"
        data-woolf-token="<%= token  %>"
        data-woolf-env="sandbox">
      </script>
    <% } %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
